---
// Assets
import { Image } from "astro:assets";
import Mesh from "@/images/projects/EtherealGrain.png";
import PP from "@/images/projects/Adurite.png";
import Oxbow from "@/images/projects/classplay.png";
import Lexington from "@/images/projects/classboard.png";
import Doodles from "@/images/projects/ee.png";
import Caf from "@/images/projects/smirk.png";
 
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
const data = [
  {
    image: Mesh,
    year: "2025",
    title: "Ethereal",
    link: "https://etherealproxy.netlify.app/",
    description: `A completely static Ultraviolet proxy. Extremely customisable and easy to use.`,
  },
  {
    image: PP,
    year: "2025",
    link: "https://useadurite.netlify.app/",
    title: "Adurite",
    description: `A UBG website with 300+ games, 50+ apps, and a proxy.`,
  },
  {
    image: Oxbow,
    year: "2024",
    link: "https://useclassplay.vercel.app/",
    title: "Classplay",
    description: `Also a games website. Started in October 2024, but discontinued in August 2025.`,
  },
  {
    image: Lexington,
    year: "2023",
    title: "Classboard",
    link: "https://useclassboard.vercel.app/",
    description: `A simple link hub for school. Not maintained anymore.`,
  },
  {
    image: Doodles,
    year: "2023",
    title: "Eaglercraft Extras",
    link: "https://eaglercraftextras.github.io/",
    description: `A collection of Eaglercraft packs, clients, skins, worlds, and more.`,
  },
  {
    image: Caf,
    year: "2023",
    title: "RandomRizz",
    link: "https://cl1pped.github.io/rizz/",
    description: `A very simple vanilla JS website that pulls a random rizz line. Probably not the best to visit during school.`,
  },
];
---

<section>
  <Wrapper variant="standard">
    <div
      class="grid grid-cols-1 gap-4 md:grid-cols-3 border-b py-8 border-base-200 dark:border-base-800"
    >
      <div class="lg:sticky lg:top-24 lg:z-40 self-start">
        <Text tag="h2" variant="textSM" class="text-base-900 dark:text-white">
          Projects
        </Text>
      </div>
      <div class="lg:col-span-2 flex flex-col gap-8">
        {
          data.map((project) => (
            <article class="group relative grid grid-cols-1 gap-4 lg:grid-cols-3 lg:items-start ">
                 <div class="absolute -inset-x-1 -inset-y-4 z-0 scale-95 bg-base-50 dark:bg-base-800/20    opacity-0 transition group-hover:scale-100 group-hover:opacity-100 -inset-x-4 rounded-2xl duration-300 " />
              <div class="lg:col-span-2">
               <div class="flex items-center gap-4 relative">
                  <Image
                    src={project.image}
                    alt="Michael Andreuzza"
                    width={400}
                    height={400}
                    loading="eager"
                    decoding="async"
                    class="rounded-lg size-12 object-cover ovjet-center relative bg-base-800"
                  />
                  <div>
                    <Text
                      tag="h3"
                      variant="textSM"
                      class=" font-medium tracking-tight text-base-900 dark:text-white  "
                    >
                      <a href={project.link}>
                        <>
                          <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl" />
                          <span class="relative z-10"> {project.title}</span>
                        </>
                      </a>
                    </Text>
                  <Text
                    tag="p"
                    variant="textXS"
                    class="relative z-10 text-base-600 dark:text-base-500      "
                  >
                    {project.description}
                  </Text>
                  </div>
               </div>
              </div>
              <Text
                tag="p"
                variant="textXS"
                class="relative z-10   flex items-center text-sm text-base-600 dark:text-base-400  lg:ml-auto"
              >
                <time datetime={project.year}> {project.year}</time>
              </Text>
            </article>
          ))
        }
      </div>
    </div>
  </Wrapper>
</section>
